<div class="form-body">
  <div class="container">
      <P id="notice"><%= notice %></P>
      <div class="row">
        <div class="col-md-offset-3 col-md-8">
          <div class="管理者ログイン">
            <h3><span>管理者ログイン</span></h3>
          </div>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <form class="form-horizontall">
            <div class="form-group">
              <div class="row text-right">
                <label class="contral-label col-md-3" for="email">メールアドレス</label>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-contral col-md-5" %>
              </div>
            </div>

            <div class="form-group">
              <div class="row text-right">
                <label class="contral-label col-md-3" for="encrypted_password">パスワード</label>
                <%= f.password_field :password, autocomplete: "current-password", class: "form-contral col-md-5" %>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-md-offset-3 col-md-5">
              <%= f.submit "ログイン", class: "btn btn-info btn-md" %>
                </div>
              </div>
            </div>
          </form>
          <% end %>

        </div>
      </div>
  </div>
</div>
