<div class="form-body">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-5">
				<div class="box1">
					<h3><span>商品詳細</span></h3>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<%= attachment_image_tag @product, :image, class: "img-responsive" %>
			</div>
			<div class="col-md-5">
				<table class="table">
					<tr><td>商品名</td>
						<td><%= @product.name %></td>
					</tr>

					<tr><td>商品説明</td>
						<td><%= @product.introduction %></td>
					</tr>

				    <tr><td>商品名</td>
				    	<td><%= @product.genre.name %></td>
				    </tr>

				    <tr><td>税込価格（税抜価格）</td>
				    	<td><%= @product.price %>（<%= price_non_taxed(@product.price) %>）</td>
				    </tr>

				    <tr><td>販売ステータス</td>
				    		<% if @product.is_active == true %>
								<td>販売中</td>
							<% else %>
								<td>売り切れ</td>
							<% end %>
					</tr>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="col-md-offset-8 col-md-1">
				<div class="form-group">
					<%= link_to "編集する", edit_admins_product_path(@product), class: "btn btn-primary col-md" %>
				</div>
			</div>
		</div>

	</div>
</div>
