<body>
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<div>
					<h2>LOGO</h2>
				</div>
			</div>

			<nav>
				<ul class="nav navbar-nav navbar-right">
				<!-- 管理者 -->
				<% if admin_signed_in? %>
				<li class="nav-item"><%= link_to "商品一覧", admins_products_path, class: "nav-link" %></li>
				<li class="nav-item"><%= link_to "会員一覧", "#", class: "nav-link" %></li>
				<li class="nav-item"><%= link_to "注文履歴一覧", "#", class: "nav-link" %></li>
				<li class="nav-item"><%= link_to "ジャンル一覧", new_admins_genre_path, class: "nav-link" %></li>
				<li class="nav-item"><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "nav-link" %></li>

				<!-- 顧客 -->
				<% elsif client_signed_in? %>
				<li class="nav-item"><%= link_to 'マイページ', clients_mypage_show_path, class: "nav-link" %></li>
				<li class="nav-item"><%= link_to '商品一覧', clients_products_path, class: "nav-link" %></li>
				<li class="nav-item"><%= link_to 'カート', "#", class: "nav-link" %></li>
				<li class="nav-item"><%= link_to 'ログアウト', destroy_client_session_path, method: :delete, class: "nav-link" %></li>

				<!-- 非ログイン -->
				<% else %>
				<li class="nav-item"><%= link_to 'About', clients_client_about_path, class: "nav-link" %></li>
				<li class="nav-item"><%= link_to '商品一覧', "#", class: "nav-link" %></li>
				<li class="nav-item"><%= link_to '新規登録', "#", class: "nav-link" %></li>
				<li class="nav-item"><%= link_to 'ログイン', "#",class: "nav-link" %></li>
				<% end %>
			    </ul>

			</nav>
		</div>
	</nav>
</body>