<header class="navbar navbar-fixed-top green-back">
	<nav class="container">
		<nav class="nav navbar-nav navbar-left">
			<div class="nav-link">
				<h2>LOGO</h2>
			</div>
		</nav>

		<nav>
			<ul class="nav navbar-nav navbar-right">
			<!-- 管理者 -->
			<% if admin_signed_in? %>
			<li class="nav-item"><%= link_to "商品一覧", "#", class: "nav-link" %></li>
			<li class="nav-item"><%= link_to "会員一覧", "#", class: "nav-link" %></li>
			<li class="nav-item"><%= link_to "注文履歴一覧", "#", class: "nav-link" %></li>
			<li class="nav-item"><%= link_to "ジャンル一覧", new_admins_genre_path, class: "nav-link" %></li>
			<li class="nav-item"><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "nav-link" %></li>

			<!-- 非ログイン -->
			<% else %>
			<li class="nav-item"><%= link_to 'About', "#", class: "nav-link" %></li>
			<li class="nav-item"><%= link_to '商品一覧', "#",  class: "nav-link" %></li>
			<li class="nav-item"><%= link_to '新規登録', "#", class: "nav-link" %></li>
			<li class="nav-item"><%= link_to 'ログイン', "#",class: "nav-link" %></li>
			<% end %>
		    </ul>
		</nav>
	</nav>
</header>